body {
    font-family: sans-serif;
    background-color:lightblue;
    text-align: center;
}
h1{
color: dimgray;
background-color: aqua;
}
h2{
color: dimgray;
background-color: aqua;
}
main p{
background-color: dodgerblue;
padding: 10px;

}
footer{
background-color: gold;
color: grey;
padding: 10px;
border-radius: 20px;
margin: 10px;
}
header p{
background-color: dodgerblue;
padding: 10px;
}
footer img{
width: 20px;
height: 20px;
}
header img{
height: 265px;
width: 355px;
}
main img{
height: 255px;
width: 195px;
}
